<!-- calorie_mastery_content.html -->
<div class="calorie-info-section">
    <h4 class="infohub-modal-header">Unlock the Secrets of Calories</h4>
    <p class="infohub-modal-text">Think of calories as the fuel that powers every machine-like function of your body.
        From your heart's steady beat to the swift sprint to catch a bus, calories are the unsung heroes. Yet, not all
        calories flex their muscles equally—welcome to the diverse world of macronutrients.</p>

    <h4 class="infohub-modal-header">Decoding Macronutrients</h4>
    <p class="infohub-modal-text">Imagine your diet as a team of nutrients, each with a vital role:</p>
    <ul class="infohub-modal-text">
        <li><strong>Proteins:</strong> Every gram packs 4 calories, rebuilding muscles and more from the ground up.</li>
        <li><strong>Carbohydrates:</strong> Also 4 calories per gram, these are your go-to energy sprinters.</li>
        <li><strong>Fats:</strong> The endurance athletes, offering a hefty 9 calories per gram, keeping you fueled
            longer.</li>
        <li><strong>Alcohol:</strong> The wildcard with 7 calories per gram, not essential but often guest-starring at
            dinner.</li>
    </ul>

    <h4 class="infohub-modal-header">Exploring Calorie Density</h4>
    <p class="infohub-modal-text">Calorie density might sound complex, but it’s simply the number of calories in a
        specific weight of food. Understanding this helps you navigate food choices more smartly. Consider this:
        <br> <br>
        Compare a 100g chocolate bar and 1 kilogram of broccoli—both may hold about ~500 calories. Yet, their
        nutritional profiles could not be more different. The chocolate offers a quick, sugary high with little
        else, whereas the broccoli provides extensive nutrients along with its calories, illustrating a stark
        example of calorie density.
    </p>

    <h4 class="infohub-modal-header">Focusing on Macros</h4>
    <p class="infohub-modal-text">While the microscopic nutrients do their quiet work, macronutrients are the pillars of
        your dietary strategy, directly influencing your physical state and achievements in fitness. Balancing proteins,
        carbs, and fats is not just about hitting numbers—it's about sculpting your body's responses and refining your
        energy levels.</p>
    <p class="infohub-modal-text">Dive deep into these basics to command your body's biochemical pathways and then tweak
        your micronutrient intake to optimize your health.</p>
</div>

<!-- Suggested Visual -->
<!-- Consider adding a visual comparison, such as an infographic or a split-image showing a chocolate bar on one side and a heap of broccoli on the other, visually representing the same calorie content but vastly different nutritional values. This can be a powerful visual to help users grasp the concept of calorie density effectively. -->
